.PasswordInput_wrapper__Rnez\+ {

    position: relative;

    display: block
}

.PasswordInput_label__MRUce {

    position: absolute;

    left: 0.75rem;

    top: 0.875rem;

    margin: 0px;

    cursor: pointer;

    font-size: 0.875rem;

    line-height: 1.25rem;

    font-weight: 500;

    --tw-text-opacity: 1;

    color: rgb(188 195 206 / var(--tw-text-opacity));

    transition-property: all;

    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    transition-duration: 150ms
}

.PasswordInput_label__MRUce:has(~ input:is(:focus, :not(:placeholder-shown))) {

    --tw-translate-y: -0.75rem;

    -webkit-transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));

            transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));

    font-size: 0.625rem
}

.PasswordInput_label__MRUce.PasswordInput_active__-azwu {

    --tw-translate-y: -0.75rem;

    -webkit-transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));

            transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));

    font-size: 0.625rem
}

.PasswordInput_label__MRUce:has(~ input:disabled) {

    pointer-events: none
}

.PasswordInput_input__4Q1TJ {

    width: 100%;

    border-radius: 0.5rem;

    border-width: 1px;

    border-style: solid;

    --tw-border-opacity: 1;

    border-color: rgb(188 195 206 / var(--tw-border-opacity));

    padding-left: 0.625rem;

    padding-right: 0.625rem;

    padding-bottom: 0.5rem;

    padding-top: 1rem;

    font-size: 0.875rem;

    line-height: 1.25rem;

    font-weight: 500;

    line-height: 1;

    --tw-text-opacity: 1;

    color: rgb(8 61 119 / var(--tw-text-opacity));

    outline: 2px solid transparent;

    outline-offset: 2px
}

.PasswordInput_input__4Q1TJ:focus {

    --tw-border-opacity: 1;

    border-color: rgb(8 61 119 / var(--tw-border-opacity))
}

.PasswordInput_input__4Q1TJ.PasswordInput_invalid__PQHe5 {

    --tw-border-opacity: 1;

    border-color: rgb(187 17 40 / var(--tw-border-opacity))
}

.PasswordInput_input__4Q1TJ:disabled {

    border-color: #00000000;

    --tw-bg-opacity: 1;

    background-color: rgb(245 245 245 / var(--tw-bg-opacity))
}

.PasswordInput_button__eKYfY {

    position: absolute;

    right: 0.625rem;

    top: 0.75rem
}

.PasswordInput_error__E9otl {

    margin: 0px;

    margin-top: 0.25rem;

    padding-left: 0.75rem;

    font-size: 0.625rem;

    --tw-text-opacity: 1;

    color: rgb(187 17 40 / var(--tw-text-opacity))
}


/*# sourceMappingURL=components-ui-common-PasswordInput-PasswordInput-stories.f32eabab.chunk.css.map*/