.Dropdownd_select__container__JTgV8 {

    position: relative;

    max-width: 20rem
}

.Dropdownd_select__header__rSJtu {

    position: relative;

    display: block
}

.Dropdownd_select__placeholder__r-Nzm {

    position: absolute;

    top: 0.875rem;

    left: 0.625rem;

    font-size: 0.875rem;

    line-height: 1.25rem;

    font-weight: 500;

    --tw-text-opacity: 1;

    color: rgb(188 195 206 / var(--tw-text-opacity));

    transition-property: all;

    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    transition-duration: 150ms
}

.Dropdownd_select__placeholder--active__tbgU2 {

    --tw-translate-y: -0.625rem;

    -webkit-transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));

            transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));

    font-size: 0.625rem
}

.Dropdownd_select__input__sWfqu {

    width: 100%;

    border-radius: 0.5rem;

    border-width: 1px;

    border-style: solid;

    --tw-border-opacity: 1;

    border-color: rgb(188 195 206 / var(--tw-border-opacity));

    padding-left: 0.625rem;

    padding-right: 0.625rem;

    padding-top: 1.25rem;

    padding-bottom: 0.5rem;

    font-size: 0.875rem;

    font-weight: 500;

    line-height: 1rem;

    --tw-text-opacity: 1;

    color: rgb(8 61 119 / var(--tw-text-opacity));

    outline: 2px solid transparent;

    outline-offset: 2px
}

.Dropdownd_select__input--active__NOMFH {

    --tw-border-opacity: 1;

    border-color: rgb(8 61 119 / var(--tw-border-opacity))
}

.Dropdownd_select__button__2v6la {

    position: absolute;

    top: 0.875rem;

    right: 0.625rem;

    transition-property: -webkit-transform;

    transition-property: transform;

    transition-property: transform, -webkit-transform;

    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    transition-duration: 150ms
}

.Dropdownd_select__button--active__j\+6iq {

    --tw-rotate: 180deg;

    -webkit-transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));

            transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.Dropdownd_select__menu__yN59P {

    top: 100%;

    width: 100%;

    --tw-translate-y: 0.5rem;

    -webkit-transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));

            transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));

    border-radius: 0.5rem;

    --tw-bg-opacity: 1;

    background-color: rgb(255 255 255 / var(--tw-bg-opacity));

    padding-left: 0.625rem;

    padding-right: 0.625rem;

    padding-top: 0.75rem;

    padding-bottom: 0.75rem;

    --tw-shadow: 0px 4px 16px rgba(0, 0, 0, 0.10);

    --tw-shadow-colored: 0px 4px 16px var(--tw-shadow-color);

    box-shadow: 0 0 #0000, 0 0 #0000, var(--tw-shadow);

    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.Dropdownd_select__menu-item__3Bk5U {

    width: 100%;

    border-radius: 0.5rem;

    padding: 0.5rem;

    text-align: left;

    font-size: 0.875rem;

    line-height: 1.25rem;

    font-weight: 500
}

.Dropdownd_select__menu-item__3Bk5U:hover {

    --tw-bg-opacity: 1;

    background-color: rgb(188 195 206 / var(--tw-bg-opacity))
}


/*# sourceMappingURL=stories-components-Dropdown-Dropdown-stories.11c461d1.chunk.css.map*/