.wrapper {
  @apply relative block max-w-xs;
}

.label {
  @apply text-placeholder absolute text-sm font-medium left-3 top-3.5 cursor-pointer;
  transition-property: transform font-size;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.label-active {
  @apply text-[0.625rem] -translate-y-2;
}

.input {
  @apply px-2.5 py-3.5 outline-none border-solid rounded-lg border-grey border-2 text-sm font-medium text-blue leading-none w-full;
}

.input-filled {
  @apply py-2 pt-5;
}

.input-focused {
  @apply border-blue;
}
.input-error {
  @apply border-red;
}

.input-disabled {
  @apply border-transparent bg-input-disabled;
}

.error-message {
  @apply m-0 mt-1 pl-3 text-[0.625rem] text-red;
}
