@tailwind base;
@tailwind components;
@tailwind utilities;

.pac-container {
  border-radius: 0.5rem;
}

.pac-icon {
  display: none;
}
@layer base {
  html {
    font-family: 'Mukta', sans-serif;
  }
}
